* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    width: 300px;
    height: 100px;
    margin: 400px auto 0;
    border: 2px solid black;
    padding: 30px 65px;
}
#commento {
    width: 500px;
    height: 100px;
    margin: 600px auto 0;
    font-size: 30px;
}
.d-none {
    display: none;
}
#numeri {
    font-size: 30px;
    
}